{% extends 'admin/_base.html.twig' %}

{% block body %}

    <h1>Edition de la brocante !</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.lieu) }}
    {{ form_row(form.type) }}
    {{ form_row(form.rue) }}
    {{ form_row(form.date) }}
    {{ form_row(form.description) }}

    {{ form_row(form.isImage, {'attr': {'onchange': "changeImg(this);"}}) }}
    {{ form_row(form.image) }}

    {{ form_row(form.submit) }}
    {{ form_row(form.cancel) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        (function () {
            let input = document.getElementById("brocante_isImage");

            changeImg(input);
        })();

        function changeImg(input) {
            let formImage = document.getElementById("brocante_image").parentElement.parentElement;

            if (input.checked) {
                formImage.style.display = '';
            } else {
                formImage.style.display = 'none';
            }
        }
    </script>
{% endblock %}