<li class="nav-item {% if app.request.get('_route') in ['accueil'] %}active{% endif %}">
    <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
</li>


{% if app.user %}
    <li class="nav-item dropdown" id="nav-account">
        <a class="nav-link dropdown-toggle {% if app.request.get('_route') in ['mon-compte'] %}active{% endif %}"
           id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon
            compte</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="{{ path('mon-compte') }}"
               class="{% if app.request.get('_route') in ['mon-compte'] %}active{% endif %} dropdown-item">
                <i class="fa fa-user"></i> <strong>{{ app.user }}</strong>
            </a>
            <div class="dropdown-divider"></div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('accueil-admin') }}" class="dropdown-item"><i class="fa fa-wrench"></i> Administration</a>
            {% endif %}
            <a href="{{ path('deconnexion') }}" class="dropdown-item"><i class="fa fa-sign-out-alt"></i> Déconnexion</a>
        </div>
    </li>
{% else %}
    <li class="nav-item">
        <a href="{{ path('connexion') }}"
           class="{% if app.request.get('_route') in ['connexion', 'inscription'] %}active{% endif %} nav-link"
           title="Se connecter">Connexion</a>
    </li>
{% endif %}
